.main-content
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
}

td, th, tr
{
    border: 5px solid rgb(4, 0, 255) !important;
    padding: 5px;
}